.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
	font-family: 'Open Sans', serif; 
	font-size: 85%;
	line-height: 24px;
	color: #666;
	background-color: #1e1a16;
}

a {
	font-style: italic;
	cursor: pointer;
	color: #cb2224;
}

h1,h2,h3,h4{
	color: #1e1a16;
}

a:hover {
	color: #105896;
	text-decoration: underline;
}
	
header a, h2 a {
	/*color: #666;*/ 
	font-style: normal; 
	text-decoration: none;
}

#main-container{
	/*background-color: #fff;*/
	background-image: url("../img/bkg.jpg");
	background-color: #fff;
	padding-bottom: 22px;
	background-repeat: repeat-x;
	background-position:0px -33px;
}

#container {
	width: 916px; 
	margin: 0 auto; 
	padding: 46px 22px 0 22px;
	/*background: url("../img/grid.jpg");*/ 
	overflow: hidden;
}

#content, #sidebar{
	margin-top: 65px;
	float: left;
}

#content{
	width: 624px;
}
#sidebar{
	float: right;
	width: 234px;
	padding-left: 22px;
	/*border-left: 1px solid #ddd;*/
}
#sidebar > *{
	margin-bottom: 20px;
	border: 1px solid #ddd;
	padding: 22px;
}

/** footer **/
.footer-content{
	color: #fff;
	box-shadow: 0px -2px 2px rgba(3,3,3,0.7);
}
footer{
	clear: both;
	width: 916px; 
	margin: 0 auto; 
	padding: 22px 22px;
}


/** header **/
header{
	position: relative;
}
header .logo{
	height: 74px;
}
header h1{
	position: absolute;
	top: 0px;
	right: 0px;
	color: #ffffff;
}

header h1::first-letter{
	text-transform: uppercase;
}

/** navigation **/
nav{
	float: right;
	text-align: right;
	margin-top: 55px;
}

nav a{
	color: white;
}

nav a:hover{
	color: white;
}

nav ul{
	list-style-type: none;
}

nav li{
	display: inline-block;
	font-size: 1.29em;
	padding: 0px 20px;
	border-right: 1px solid rgba(255,255,255,0.6)
}

nav li:last-child{
	margin-right: 0px;
}

/** news list **/
.news-list > article{
	clear: both;
	/*margin-bottom: 47px;*/
	/*margin-bottom: 23px;*/
	padding-bottom: 23px;
	padding-top: 23px;
	border-top: 1px solid #ddd;
}

.news-list > article:first-child{
	/*padding-top: 0px;*/
}
.news-list > article:last-child{
	/*border-bottom: 0px;*/
}

/*.news-list > article:hover {
	background-color: rgba(35, 94, 158, 0.4);
}*/

.news-list > article .content{
	min-height: 121px;
	width: 448px;
}
.news-list > article .img {
	float: right;
	margin-left: 20px;
	box-shadow: 0px 1px 7px #a0a0a0;
}
.news-list > article .img a{
	display: block;
	width: 156px;
	height: 121px;
	background-size: cover;
	background-position: center;
}
.news-list > article .content h2{
	margin-bottom: 24px;
	/*color: #1e1a16;*/
}
.news-list > article ul {
	list-style: none;
	/*font-weight: 300;*/
	/*font-size: 14px;*/
}
.news-list > article ul.news-info li{
	display: inline-block;
	font-size: 12px;
	
}
.news-list > article ul.news-info li:first-child{
	width: 154px;
}
.news-list > article ul.news-info li:last-child{
	float: right;
	font-size: 14px;
}

.news-list > article p{
	text-align:justify;
	margin-bottom: 10px;
}

/** calendar **/
.calendar > div > div {
	/*display: inline-block;*/
}
.calendar [class^="action"]{
	color: #1e1a16;
}

.calendar .action-previous {
	float: left;
	display: inline-block;
}
.calendar .action-next {
	float: right;
	display: inline-block;
}

.calendar .action-header {
	text-align: center;
}

.calendar table{
	width: 100%;
}

.calendar table th{
	
}

.calendar table th{
	color: #1e1a16;
	font-weight: normal;
}
.calendar table td{
	text-align: center;
	font-size: 0.85em;
}

/** game-result **/
.game-result h2{
	margin-bottom: 24px;
}
.game-result h3{
	/*margin-top: 24px;*/
}
.game-result div{
	display: table;
	width: 100%;
	/*clear: both;*/
}
.game-result div span{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	font-size: 0.85em;
}

/*.game-result span{
	display: inline-block;
	text-align: center;
}*/

.game-result span:first-child,
.game-result span:last-child{
	width: 36%;
}
.game-result span:first-child{
	text-align: right;
}

.game-result span:last-child{
	text-align: left;
}

/** news-detail **/

.news-detail > .main-img{
	float: right;
	width: 234px;
	margin: 0px 0px 20px 20px;
}

.news-detail > .main-img img{
	width: 100%;
	box-shadow: 0px 1px 7px #a0a0a0;
}

.news-detail ul.news-info{
	list-style: none;
	font-size: 12px;
	margin-top: 10px;
}

.news-detail ul.news-info li{
	display: inline-block
}

.news-detail ul.news-info li:first-child{
	width: 152px;
}

.news-detail > section.abstract{
	margin: 24px 0px;
	text-align: justify;
}

.news-detail > section.content{
	font-size: 12px;
}

.news-detail > section.content p{
	text-align: justify;
	margin-bottom: 20px;
}

.news-detail h1{
	/*color: #1e1a16;*/
}

cite{
	font-weight: bold;
	color: #1e1a16;
}

	